/* for subpage styles */


/*********************************/
/* header: logo and navigation */
/*********************************/

#logo2 {
  padding-left: 350px; 
  font-size: 40px;
}



/*********************************/
/* section: 책/강의 추천 */
/*********************************/

#blank-div {
  height: 5px;
}

.row2 {
  margin-top: 3rem;
}

/* section-h4 글자 길이가 긴 경우를 위해 */
.languages-item-big {
  width: 28%;
  padding-top: 30px;
  display: inline-block;
  background-color: rgb(226, 240, 226, 0.6);
  margin: 0 40px;
} 

.img-hover-content {
  padding-top: 60%;
}

/*********************************/
/* section: 학습 계획표 */
/*********************************/

#section-calendar {
  padding: 6rem 0;
  background-color: rgba(243, 248, 248, 0.3); 
}

body {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.calendar {
  width: 600px;
  margin: 50px;
  margin-top: 100px;
  /* background-color: rgba(243, 248, 248);  */
  background-color: rgba(212, 230, 232, 0.3);
}

.header-cal {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.year-month {
  font-size: 35px;
}

.nav-cal {
  display: flex;
  border: 1px solid #333333;
  border-radius: 5px;
}

.nav-btn {
  width: 28px;
  height: 30px;
  border: none;
  font-size: 16px;
  /* line-height: 34px; */
  background-color: transparent;
  cursor: pointer;
  color: black;
}

.go-today {
  width: 75px;
  border-left: 1px solid #333333;
  border-right: 1px solid #333333;
}

.days {
  display: flex;
  margin: 25px 0 10px;
}

.day {
  width: calc(100% / 7);
  text-align: center;
}

.dates {
  display: flex;
  flex-flow: row wrap;
  height: 500px;
  border-top: 1px solid #333333;
  border-right: 1px solid #333333;
}

.date {
  width: calc(100% / 7);
  height: calc(100% / 5);
  padding: 10px;
  text-align: right;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #333333;
}

.date:hover {
  cursor: pointer;
  background-color: rgb(38, 198, 216)
}

.day:nth-child(7n + 1),
.date:nth-child(7n + 1) {
  color: #D13E3E;
}

.day:nth-child(7n),
.date:nth-child(7n) {
  color: #396EE2;
}

.other {
  opacity: 0.3;
}

.today {
  position: relative;
  color:rgba(43, 130, 43, 0.6);
  font-weight: bold;
}

.birth {
  position: relative;
  color: blue;
}

.today::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  width: 30px;
  height: 30px;
  display: block;
  background-color: #FF0000;
  border-radius: 50%;
  content: '';
}

button {
  padding: 0;
}

#text-part {
  display: inline-block;
  font-size: 28px;
}