/* for subpage styles */


/*********************************/
/* header: logo and navigation */
/*********************************/

#logo2 {
  padding-left: 350px; 
  font-size: 40px;
}



/*********************************/
/* section: 책/강의 추천 */
/*********************************/

#blank-div {
  height: 5px;
}

.row2 {
  margin-top: 3rem;
}

/* section-h4 글자 길이가 긴 경우를 위해 */
.languages-item-big {
  width: 28%;
  padding-top: 30px;
  display: inline-block;
  background-color: rgb(226, 240, 226, 0.6);
  margin: 0 40px;
} 